doc/snmptrace.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Relax NG grammar for the XML SNMP trace format.
  
  Published as part of RFC XXXX.
  
  $Id: snmptrace.rnc 2966 2008-08-26 19:14:32Z schoenw $
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:ietf:params:xml:ns:snmp-trace-1.0" xmlns:ns1="urn:ietf:params:xml:ns:snmp-trace-1.0">
  <xs:element name="snmptrace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:packet"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="packet">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:time-sec"/>
        <xs:element ref="ns1:time-usec"/>
        <xs:element ref="ns1:src-ip"/>
        <xs:element ref="ns1:src-port"/>
        <xs:element ref="ns1:dst-ip"/>
        <xs:element ref="ns1:dst-port"/>
        <xs:element ref="ns1:snmp"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="time-sec" type="xs:unsignedInt"/>
  <xs:element name="time-usec" type="xs:unsignedInt"/>
  <xs:element name="src-ip" type="ns1:ipaddress.type"/>
  <xs:element name="src-port" type="xs:unsignedInt"/>
  <xs:element name="dst-ip" type="ns1:ipaddress.type"/>
  <xs:element name="dst-port" type="xs:unsignedInt"/>
  <xs:element name="snmp">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:message.elem">
          <xs:attributeGroup ref="ns1:length.attrs"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="message.elem">
    <xs:choice>
      <xs:sequence>
        <xs:element ref="ns1:version"/>
        <xs:element ref="ns1:community"/>
        <xs:element ref="ns1:pdu.elem"/>
      </xs:sequence>
      <xs:sequence>
        <xs:element ref="ns1:version"/>
        <xs:element ref="ns1:message"/>
        <xs:element minOccurs="0" ref="ns1:usm"/>
        <xs:element ref="ns1:scoped-pdu"/>
      </xs:sequence>
    </xs:choice>
  </xs:complexType>
  <xs:element name="version">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:int">
          <xs:attributeGroup ref="ns1:length.attrs"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="community">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:hexBinary">
          <xs:attributeGroup ref="ns1:length.attrs"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:msg-id"/>
        <xs:element ref="ns1:max-size"/>
        <xs:element ref="ns1:flags"/>
        <xs:element ref="ns1:security-model"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:length.attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="msg-id">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:unsignedInt">
          <xs:attributeGroup ref="ns1:length.attrs"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="max-size">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:unsignedInt">
          <xs:attributeGroup ref="ns1:length.attrs"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="flags">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:hexBinary">
          <xs:attributeGroup ref="ns1:length.attrs"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="security-model">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:unsignedInt">
          <xs:attributeGroup ref="ns1:length.attrs"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="scoped-pdu">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:context-engine-id"/>
        <xs:element ref="ns1:context-name"/>
        <xs:element ref="ns1:pdu.elem"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:length.attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="context-engine-id">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:hexBinary">
          <xs:attributeGroup ref="ns1:length.attrs"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="context-name">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attributeGroup ref="ns1:length.attrs"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="usm">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:auth-engine-id"/>
        <xs:element ref="ns1:auth-engine-boots"/>
        <xs:element ref="ns1:auth-engine-time"/>
        <xs:element ref="ns1:user"/>
        <xs:element ref="ns1:auth-params"/>
        <xs:element ref="ns1:priv-params"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:length.attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="auth-engine-id">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:hexBinary">
          <xs:attributeGroup ref="ns1:length.attrs"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="auth-engine-boots">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:unsignedInt">
          <xs:attributeGroup ref="ns1:length.attrs"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="auth-engine-time">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:unsignedInt">
          <xs:attributeGroup ref="ns1:length.attrs"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="user">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:hexBinary">
          <xs:attributeGroup ref="ns1:length.attrs"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="auth-params">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:hexBinary">
          <xs:attributeGroup ref="ns1:length.attrs"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="priv-params">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:hexBinary">
          <xs:attributeGroup ref="ns1:length.attrs"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="pdu.elem" abstract="true"/>
  <xs:element name="trap" substitutionGroup="ns1:pdu.elem">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:enterprise"/>
        <xs:element ref="ns1:agent-addr"/>
        <xs:element ref="ns1:generic-trap"/>
        <xs:element ref="ns1:specific-trap"/>
        <xs:element ref="ns1:time-stamp"/>
        <xs:element ref="ns1:variable-bindings"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:length.attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="enterprise">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="ns1:oid.type">
          <xs:attributeGroup ref="ns1:length.attrs"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="agent-addr">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="ns1:ipv4address.type">
          <xs:attributeGroup ref="ns1:length.attrs"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="generic-trap">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:int">
          <xs:attributeGroup ref="ns1:length.attrs"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="specific-trap">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:int">
          <xs:attributeGroup ref="ns1:length.attrs"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="time-stamp">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:int">
          <xs:attributeGroup ref="ns1:length.attrs"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="variable-bindings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:varbind"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:length.attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="get-request" substitutionGroup="ns1:pdu.elem">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:request-id"/>
        <xs:element ref="ns1:error-status"/>
        <xs:element ref="ns1:error-index"/>
        <xs:element ref="ns1:variable-bindings"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:length.attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="request-id">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:int">
          <xs:attributeGroup ref="ns1:length.attrs"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="error-status">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:int">
          <xs:attributeGroup ref="ns1:length.attrs"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="error-index">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:int">
          <xs:attributeGroup ref="ns1:length.attrs"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="get-next-request" substitutionGroup="ns1:pdu.elem">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:request-id"/>
        <xs:element ref="ns1:error-status"/>
        <xs:element ref="ns1:error-index"/>
        <xs:element ref="ns1:variable-bindings"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:length.attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="get-bulk-request" substitutionGroup="ns1:pdu.elem">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:request-id"/>
        <xs:element ref="ns1:error-status"/>
        <xs:element ref="ns1:error-index"/>
        <xs:element ref="ns1:variable-bindings"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:length.attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="set-request" substitutionGroup="ns1:pdu.elem">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:request-id"/>
        <xs:element ref="ns1:error-status"/>
        <xs:element ref="ns1:error-index"/>
        <xs:element ref="ns1:variable-bindings"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:length.attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="inform-request" substitutionGroup="ns1:pdu.elem">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:request-id"/>
        <xs:element ref="ns1:error-status"/>
        <xs:element ref="ns1:error-index"/>
        <xs:element ref="ns1:variable-bindings"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:length.attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="snmpV2-trap" substitutionGroup="ns1:pdu.elem">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:request-id"/>
        <xs:element ref="ns1:error-status"/>
        <xs:element ref="ns1:error-index"/>
        <xs:element ref="ns1:variable-bindings"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:length.attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="response" substitutionGroup="ns1:pdu.elem">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:request-id"/>
        <xs:element ref="ns1:error-status"/>
        <xs:element ref="ns1:error-index"/>
        <xs:element ref="ns1:variable-bindings"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:length.attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="report" substitutionGroup="ns1:pdu.elem">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:request-id"/>
        <xs:element ref="ns1:error-status"/>
        <xs:element ref="ns1:error-index"/>
        <xs:element ref="ns1:variable-bindings"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:length.attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="varbind">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:name"/>
        <xs:element ref="ns1:value.elem"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:length.attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="name">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="ns1:oid.type">
          <xs:attributeGroup ref="ns1:length.attrs"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="value.elem" abstract="true"/>
  <xs:element name="null" substitutionGroup="ns1:value.elem">
    <xs:complexType>
      <xs:attributeGroup ref="ns1:length.attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="integer32" substitutionGroup="ns1:value.elem">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:int">
          <xs:attributeGroup ref="ns1:length.attrs"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="unsigned32" substitutionGroup="ns1:value.elem">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:unsignedInt">
          <xs:attributeGroup ref="ns1:length.attrs"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="counter32" substitutionGroup="ns1:value.elem">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:unsignedInt">
          <xs:attributeGroup ref="ns1:length.attrs"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="counter64" substitutionGroup="ns1:value.elem">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:unsignedLong">
          <xs:attributeGroup ref="ns1:length.attrs"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="timeticks" substitutionGroup="ns1:value.elem">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:unsignedInt">
          <xs:attributeGroup ref="ns1:length.attrs"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ipaddress" substitutionGroup="ns1:value.elem">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="ns1:ipv4address.type">
          <xs:attributeGroup ref="ns1:length.attrs"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="octet-string" substitutionGroup="ns1:value.elem">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:hexBinary">
          <xs:attributeGroup ref="ns1:length.attrs"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="object-identifier" substitutionGroup="ns1:value.elem">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="ns1:oid.type">
          <xs:attributeGroup ref="ns1:length.attrs"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="opaque" substitutionGroup="ns1:value.elem">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:hexBinary">
          <xs:attributeGroup ref="ns1:length.attrs"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="no-such-object" substitutionGroup="ns1:value.elem">
    <xs:complexType>
      <xs:attributeGroup ref="ns1:length.attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="no-such-instance" substitutionGroup="ns1:value.elem">
    <xs:complexType>
      <xs:attributeGroup ref="ns1:length.attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="end-of-mib-view" substitutionGroup="ns1:value.elem">
    <xs:complexType>
      <xs:attributeGroup ref="ns1:length.attrs"/>
    </xs:complexType>
  </xs:element>
  <!--
    The blen attribute indicates the number of octets used by the BER
    encoded tag / length / value triple. The vlen attribute indicates
    the number of octets used by the BER encoded value alone.
  -->
  <xs:attributeGroup name="length.attrs">
    <xs:attribute name="blen" type="xs:unsignedShort"/>
    <xs:attribute name="vlen" type="xs:unsignedShort"/>
  </xs:attributeGroup>
  <xs:simpleType name="oid.type">
    <xs:restriction base="xs:string">
      <xs:pattern value="(([0-1](\.[1-3]?[0-9]))|(2.(0|([1-9]\d*))))(\.(0|([1-9]\d*))){0,126}"/>
    </xs:restriction>
  </xs:simpleType>
  <!--
    The types below are for IP addresses. Note that SNMP's buildin
    IpAddress type only supports IPv4 addresses; IPv6 addresses are only
    introduced to cover SNMP over IPv6 endpoints.
  -->
  <xs:simpleType name="ipv4address.type">
    <xs:restriction base="xs:string">
      <xs:pattern value="((0|(1[0-9]{0,2})|(2(([0-4][0-9]?)|(5[0-5]?)|([6-9]?)))|([3-9][0-9]?))\.){3}(0|(1[0-9]{0,2})|(2(([0-4][0-9]?)|(5[0-5]?)|([6-9]?)))|([3-9][0-9]?))"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ipv6address.type">
    <xs:restriction base="xs:string">
      <xs:pattern value="(([0-9a-fA-F]+:){7}[0-9a-fA-F]+)|(([0-9a-fA-F]+:)*[0-9a-fA-F]+)?::(([0-9a-fA-F]+:)*[0-9a-fA-F]+)?"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ipaddress.type">
    <xs:union memberTypes="ns1:ipv4address.type ns1:ipv6address.type"/>
  </xs:simpleType>
</xs:schema>
